.App .app_body .sidebar .sidebar__chats{
    a{
        text-decoration: none!important;
        color: black;
    }
    .sidebarChat {
        display: flex;
        flex-direction: row;
        cursor: pointer;
        border-bottom: 1px solid #f6f6f6;
        padding: 20px;

        .sidebarChat_info {
            text-align: left;
            padding: 0 10px;
            h2 {
                font-size: 16px;
                margin-bottom: 8px;
            }
        }
    }
    
    .sidebarChat:hover {
        background: #ebebeb;
    }
}